<%= form_for @assignment, url: {action: "create"}, html: {class: "assignment_form"} do |form| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited assignment
      from being saved: </h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :event_id, value: @event.id %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :assignment_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :assignment_email %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>

<% end %>
