<head>
  <title>Contact</title>
</head>
<body class="bg-light">
  <div class="contact-form container-fluid" style="padding-top: 20px; width: 500px; padding-bottom:80px">
    <div class="py-5 text-center">
      <h1>Contact Us</h1>
      <br>
      <p class="lead" style="font-size: 16px">Send us feedback, comments, or questions below, or email <a href="mailto:wiciberkeley@gmail.com" target="_top">wiciberkeley@gmail.com</a>.</p>
    </div>
      <%= bootstrap_form_for @message, url: create_message_path do |f| %>

        <%= f.text_field :name, class: "form-control"%>

        <%= f.email_field :email, placeholder: "you@example.com", class: "form-control" %>

        <%= f.text_area :body, class: "form-control", rows: "8", label: "Message" %>

        <%= f.submit 'Send', class: "btn btn-primary form-control"%>
      <% end %>
  </div>
<br>
<br>
</body>
