<div class="container-fluid" style="padding-top: 20px; padding-left:; width: 30%; float: centered;">
  <div align="center">
    <h1> Contact Form </h1>
    <br>
      <p>
        Please send us feedback, comments, or any questions below.
      </p>
  </div>
    <%= form_for @message, url: create_message_path do |f| %>

      <%= @message.errors.full_messages.join(', ') %>

      <%= f.text_field :name, placeholder: 'Name', class: "form-control", style: "margin-top: 10px;" %>

      <%= f.email_field :email, placeholder: 'Email',class: "form-control", style: "margin-top: 10px;" %>

      <%= f.text_area :body, placeholder: 'Insert message here.', class: "form-control", style: "margin-top: 10px;" %>

      <%= f.submit 'Send', class: "btn btn-primary form-control", style: "margin-top: 10px;" %>
    <% end %>
    <p>
      Or email us at <a href="mailto:wiciberkeley@gmail.com" target="_top">wiciberkeley@gmail.com</a>
    </p>
</div>
