
<div class="container-fluid">
  <div class="col-lg-12 text-center">
    <h1> Contact Us </h1>
  </div>
  <div class="col-lg-4 offset-lg-4">
    <div class="event-card card bg-card text-white">
      <p class="card-text text-center">Got feedback? Send us an email using the form below, or at
        <a href="mailto:wiciberkeley@gmail.com" target="_top" style="color:var(--gold-lt)">wiciberkeley@gmail.com</a>.
      </p>

      <%= bootstrap_form_for @message, url: create_message_path do |f| %>

        <%= f.text_field :name, class: "form-control" %>

        <%= f.email_field :email, placeholder: "you@example.com", class: "form-control" %>

        <%= f.text_area :body, class: "form-control", rows: "8", label: "Message" %>

        <%= f.submit 'Send', class: "btn btn-primary form-control" %>
      <% end %>
    </div>
  </div>
</div>

