<%= form_with model: @guest, url: event_guests_path(@event, @guest) do |form| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guest.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container-fluid" style="float:center; width:80%; padding-top: 0%;">
  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :firstname, id: :firstname, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :lastname, id: :lastname, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :email, class: "form-control" %>
  </div>

  <h4>Optional</h4>

  <div class="form-group">
    <%= form.label :occupation %>
    <%= form.select :occupation, options_for_select(['Undergrad', 'Graduate', 'Postdoc', 'Faculty Staff', 'Other'], 'Other'), {}, id: :occupation %>
  </div>

  <div class="form-group">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select(['Male', 'Female', 'Other'], 'Other'), {}, id: :gender %>
  </div>

  <div class="form-group">
    <%= form.label :department %>
    <%= form.select :department, options_for_select(['Chemistry', 'Chemical Engineering', 'Stem non-chemistry', 'Other'], 'Other'), {}, id: :department %>
  </div>
  <div class="form-group">
    <%= form.submit :Submit, class: 'btn btn-primary' %>
  </div>
  <div class="form-group">
    <%= link_to 'Back', :back, class: "btn btn-secondary"%>
  </div>
<% end %>
</div>
