<%= form_with(model: guest, url: [event, guest], local: true) do |form| %>
  <% if guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guest.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :firstname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :lastname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :email, class: 'form-control'  %>
  </div>

  <h4>Optional</h4>

  <div class="form-group">
    <%= form.label "Occupation: " %>
    <%= form.select :occupation, [['Undergrad','undergrad'],['Graduate','graduate'], ['Postdoc','postdoc'], ['Faculty Staff','faculty staff'], ['Other','other']], :selected => ['Other','other'] %>
  </div>

  <div class="form-group">
    <%= form.label "Gender: " %>
    <%= form.select :gender, [['Male','male'],['Female','female'],['Other','other'],['Prefer not to say','prefer not to say']], :selected => ['Other','other'] %>
  </div>

  <div class="form-group">
    <%= form.label "Department: " %>
    <%= form.select :department, [['Chemistry', 'chemistry'], ['Chemical Engineering', 'chemical Engineering'], ['Stem non-chemistry', 'stem non-chemistry'], ['Other','other']], :selected => ['Other','other'] %>
  </div>

  <div class="form-group">
    <%= form.submit :Submit, id: :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
