<%= form_for @assignment, url: {action: "create"}, html: {class: "assignment_form"} do |form| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited assignment
      from being saved: </h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :task_id, value: @task.id %>
  <%= form.hidden_field :volunteer_id, value: @user.id %>

  <div class="actions">
    <%= form.submit "Confirm" %>
  </div>

<% end %>
