<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h1>Volunteer assignments for <%= @event.name %></h1>

      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
          </tr>
        </thead>

        <tbody>
          <% @assignments.each do |assignment| %>
            <tr>
              <td><%= assignment.volunteer.firstname %></td>
              <td><%= assignment.volunteer.lastname %></td>
              <td>
                <%= assignment.volunteer.email %>
                &nbsp; <%= link_to 'Unassign', event_assignment_path(id: assignment.id),:action => 'destroy', method: :delete, data: { confirm: 'Are you sure?' } if current_admin || assignment.volunteer == @user  %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <br>
      <%= link_to 'Back', @event, class: "btn btn-primary text-white" %>
      <%= link_to 'Sign up for this event', new_event_assignment_path, class: "btn btn-primary text-white" %>
    </div>
  </div>
</div>