<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid" style="float:center; width:70%; padding-top: 0%;">
    <div class="form-group">
      <h4><b><%= form.label :name %></b></h4>
      <%= form.text_field :name, id: :event_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4><b><%= form.label :description %></b></h4>
      <%= form.text_area :description, id: :event_description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4><b><%= form.label :date %></b></h4>
      <%= form.datetime_select :date, id: :event_date, :ampm => true, :minute_step => 30 ,class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4><b><%= form.label :location %></b></h4>
      <%= form.text_field :location, id: :event_location, class: 'form-control' %>
    </div>

    <div>
      <h4><b><%= form.label :has_tickets %></b></h4>
      <%= form.check_box :has_tickets, id: :trigger, onclick:"myFunction()", style:"width:40px;height:40px;"%>
    </div><br>

    <div class="form-group" id="hidden_fields" style="display:none">
      <h4><b><%= form.label :price %></b></h4>
      <%= form.number_field :price, id: :event_location, class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4><b><%= form.label :capacity %></b></h4>
      <%= form.text_field :capacity, id: :capacity, class: 'form-control'%>
    </div>

    <div class="form-group">
      <% if event.image? %>
        <h4><b><%= form.label "Upload Photo"%></b></h4>
      <% else %>
        <h4><b><%= form.label "Upload Photo" %></b></h4>
      <% end %>
      <%= form.file_field :image, id: :image%>
      <%= form.hidden_field :image_cache %>
    </div>

    <% if event.image? %>
      <div class="inline-w">
        <%= form.label :remove_image%>
        <%= form.check_box :remove_image%>
        <%= image_tag event.image.small_thumb.url%>
      </div>
    <% end %>


    <div class="form-group">
      <%= form.submit :Submit, class: 'btn btn-primary' %>
    </div>
    <div class="form-group">
      <%= link_to 'Back', :back, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
