<div class="container-fluid" style="padding-top: 20px; padding-left: 30px">
<h1><%= @event.name %></h1>
<br>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Tickets:</strong>
  <%= @event.has_tickets %>
</p>

<p>
  <strong>Tickets:</strong>
  $<%= number_with_precision(@event.price, precision: 2) %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @event.capacity %>
</p>

<p>
  <strong>Guests:</strong><br>
  <% @guests.each do |guest| %>
    <%= guest.firstname %> <%= guest.lastname %> <% if admin_signed_in? %> | <%= guest.email %> | <%= link_to 'Delete', event_guest_path(@event, guest), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <br>
  <% end %>
</p>

<%= link_to 'Attend', new_event_guest_path(@event), class: "btn btn-primary text-white" if @event.date > Date.current %>
<%= link_to 'Tasks', event_tasks_url(@event), class: "btn btn-primary text-white"  if admin_signed_in? || volunteer_signed_in? %>

<%= link_to 'Back', events_path, class: "btn btn-secondary text-white" if @event.date > Date.current %>
<%= link_to 'Back', past_events_path, class: "btn btn-secondary text-white" if @event.date < Date.current %>

<% if admin_signed_in? %>
<br>
<p>
  <h4>Event Demographics:</h4>
  <%= pie_chart @event.guests.group(:occupation).count, colors: ["#00e5ff", "#c33c54", "#070268", "#ffd2a0"], donut: true, title: "Occupation Statistics", messages: {empty: "No data"} %>
  <%= pie_chart @event.guests.group(:gender).count, colors: ["#00e5ff", "#c33c54", "#070268"], donut: true, title: "Gender Statistics", messages: {empty: "No data"} %>
  <%= pie_chart @event.guests.group(:department).count, colors: ["#00e5ff", "#c33c54", "#070268"], donut: true, title: "Department Statistics", messages: {empty: "No data"} %>
</p>
<% end %>
</div>
