<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Tickets:</strong>
  <%= @event.tickets %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @event.capacity %>
</p>
<% if current_admin == @user  %>
<p>
  <strong>Demographics:</strong>
  <%= pie_chart @event.guests.group(:occupation).count, colors: ["#00e5ff", "#c33c54", "#070268", "#ffd2a0"], donut: true, title: "Occupation Statistics", messages: {empty: "No data"} %>
  <%= pie_chart @event.guests.group(:gender).count, colors: ["#00e5ff", "#c33c54", "#070268"], donut: true, title: "Gender Statistics", messages: {empty: "No data"} %>
  <%= pie_chart @event.guests.group(:department).count, colors: ["#00e5ff", "#c33c54", "#070268"], donut: true, title: "Department Statistics", messages: {empty: "No data"} %>
</p>
<%end %>

<p>
  <strong>Guests:</strong><br>
  <% @guests.each do |guest| %>
    <%= guest.firstname %> <%= guest.lastname %> <%= link_to 'Delete', event_guest_path(@event, guest), method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <% end %>
</p>

<%= link_to 'RSVP for this event', new_event_guest_path(@event) %>
<%= link_to 'Volunteers', event_assignments_path(@event) if current_volunteer || current_admin %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
