<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Tickets:</strong>
  <%= @event.tickets %>
</p>

<%= link_to 'Volunteers', event_volunteers_path(@event) %>
<br>
<%= link_to 'Back', events_path %> |
<%= link_to 'Edit', edit_event_path(@event) %>

