<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Tickets:</strong>
  <%= @event.tickets %>
</p>

<p>
  <strong>Guests:</strong><br>
  <% @guests.each do |guest| %>
    <%= guest.firstname %> <%= guest.lastname %> <%= link_to 'Delete', event_guest_path(@event, guest), method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <% end %>
</p>

<%= link_to 'RSVP for this event', new_event_guest_path(@event) %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
