<!-- Event title -->
<div class="title-container">
  <div class="container-fluid" style="padding-top:0px; padding-left: 50px;">
    <section class="relative about-banner" id="home">
      <div class="overlay overlay-bg"></div>
    </section>
      <h1 align="center" style="color:white; padding-top: 25px;"><%= @event.name%></h1>
  </div>
</div>
<!-- End event title -->
<!-- Left side with image -->
<div class="container-fluid" style="padding-left:30%; width: 50%; float: left;">
  <p>
    <strong>Date and Time:</strong>
    <%= @event.date.strftime('%A, %B %e, at %l:%M %p') %>
  </p>
  <p>
    <%= image_tag @event.image.url, class: "event-show" %>
  </p>
  <%= link_to 'Back', events_path, class: "btn btn-secondary text-white" if @event.date > Date.current %>
  <%= link_to 'Back', past_events_path, class: "btn btn-secondary text-white" if @event.date < Date.current %>
</div>
<!-- End Left side with image -->
<!-- Right side text -->
<div class="container-fluid" style="padding-right: 30%; padding-top:100px; width: 50%; float: right;">
  <strong>Description:</strong>
    <p>
      <%= @event.description %>
    </p>

  <strong>Location:</strong>
    <p>
      <%= @event.location %>
    </p>

  <strong>Tickets:</strong>
    <p>
      <%= @event.has_tickets %>
    </p>
  <strong>Tickets:</strong>
    <p>
      $<%= number_with_precision(@event.price, precision: 2) %>
    </p>
  <strong>Capacity:</strong>
    <p>
      <%= @event.capacity %>
    </p>

  <%= link_to 'Attend', new_event_guest_path(@event), class: "btn btn-primary text-white" if @event.date > Date.current %>
  <%= link_to 'Tasks', event_tasks_url(@event), class: "btn btn-primary text-white"  if admin_signed_in? || volunteer_signed_in? %>
  <strong>Share:</strong>
    <p>
        <%=link_to 'http://www.facebook.com/sharer.php?u='+request.fullpath, :target => :blank do %>
          <i class="fab fa-facebook-square text-primary" style = "font-size:40px"></i>
        <% end %>
    </p>

<!-- show guest if admin -->
  <% if admin_signed_in? %>
  <strong>Guests:</strong><br>
    <p>
      <% @guests.each do |guest| %>
        <%= guest.firstname %> <%= guest.lastname %> <% if admin_signed_in? %> | <%= guest.email %> | <%= link_to 'Delete', event_guest_path(@event, guest), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <br>
      <% end %>
    </p>

<br>
<h4>Event Demographics:</h4>
  <p>
    <%= pie_chart @event.guests.group(:occupation).count, colors: ["#00e5ff", "#c33c54", "#070268", "#ffd2a0"], donut: true, title: "Occupation Statistics", messages: {empty: "No data"} %>
    <%= pie_chart @event.guests.group(:gender).count, colors: ["#00e5ff", "#c33c54", "#070268"], donut: true, title: "Gender Statistics", messages: {empty: "No data"} %>
    <%= pie_chart @event.guests.group(:department).count, colors: ["#00e5ff", "#c33c54", "#070268"], donut: true, title: "Department Statistics", messages: {empty: "No data"} %>
  </p>
<% end %>
</div>
