<div align="center" id="div_5dac_0" >
  <div class="top-right"  >
    <div class="container-fluid" id="div_5dac_1">
      <div class="container-fluid" id="div_5dac_2">
        <%= image_tag("/wicilogo.png", :alt => "rss feed", align: "center", style: "float: centered; margin-bottom: 10px; width: 70%; height 70%;") %>
      </div>
      <div id="div_5dac_3">
        The Women in Chemistry Initiative is a non-profit 501c3 organization.  All donations are tax deductible.  For more information on tax deductions for 501c3 non-profits, please visit the following website.
      </div>
      <%= link_to "https://501c3go.com/what-is-a-501c3/", style: "font-size: 12px" %>
  </div>
</div>
</div>


<div class="container-fluid" id="div_5dac_4">
  <h1 class="container-fluid" id="h1_5dac_0">
  Support Our Cause </h1>
  <div class="container-fluid" id="div_5dac_5"> Proceeds go towards the Women in Chemistry Initiative </div>

  <%= form_tag(new_donation_path, method: :get, class: "form-group") do %>
  <div class="input-group mb-3">


        <%= text_field_tag :amount_dollars, 0, class: "form-control"%>
        <%= submit_tag "Donate", id: :donate, class: "btn btn-primary text-center"%>

  <% end %>
  </div>
  <div>
  <%= link_to "Donate $5", new_donation_path(amount_dollars: 5),  id: "donate_5", class: "btn btn-primary text-center", style: "float: left"%>
  <%= link_to "Donate $10", new_donation_path(amount_dollars: 10), id: "donate_10", class: "btn btn-primary text-center", style: "float: middle" %>
  <%= link_to "Donate $15", new_donation_path(amount_dollars: 15), id: "donate_15", class: "btn btn-primary text-center", style: "float:right" %>
  </div>

  <div>
  <%= image_tag("/payment/stripe/powered_by_stripe.png", :alt => "rss feed", class: "cardstripe") %>
  <%= image_tag("/payment/paymethod/dark/1.png", :alt => "rss feed", class: "card") %>
  <%= image_tag("/payment/paymethod/dark/2.png", :alt => "rss feed", class: "card") %>
  <%= image_tag("/payment/paymethod/dark/22.png", :alt => "rss feed", class: "card") %>
  <%= image_tag("/payment/paymethod/dark/16.png", :alt => "rss feed", class: "card") %>
  <%= image_tag("/payment/paymethod/dark/14.png", :alt => "rss feed", class: "card") %>
  <%= image_tag("/payment/paymethod/dark/10.png", :alt => "rss feed", class: "card") %>
  </div>
  <div id="div_5dac_6">
  <%= image_tag("/payment/lock.png", :alt => "rss feed", align: "left", class: "lock") %>
  <p id="p_5dac_0"> *YOUR CREDIT / DEBIT CARD WILL BE SECURELY PROCESSED ACCORDING TO PCI STANDARDS. </p>
  </div>

</div>

<div id="div_5dac_7" >
  </div>
