<div style= "padding-top: 20px; border: solid; background: #0F4040; color: #0F4040; border-width: .5px;">
</div>

<div class="container-fluid" style="margin-top: 5%; padding-top: 20px; width: 30%; background: #2E8C8C; border: solid; border-color: #0F4040; border-width: 2px; border-radius: 6px; float: center">
<h1 style="border-bottom-style: solid ; border-bottom-width: 1px; border-color: #ffffff; text-align: center;" > Confirm Donation </h1>
<%= form_tag donations_path(amount_dollars: @donation.amount_dollars) do %>
<div style="color: #ffffff">
  Please make sure the amount is correct. Click confirm to enter your payment information or click change to donate a different amount.

</div>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Please enter your billing info."
          data-amount="<%= @donation.amount_cents %>"
          data-locale="auto"></script>

<div >
  <%= link_to 'Change', :back, class: "btn btn-secondary text-center", style: "float: left; margin-top: 4%;" %>
  <%= submit_tag "Confirm", id: :confirm, class: "btn btn-primary text-center", style: "float: right; margin-top: 4%; margin-right: 8%" %>
</div>
<div>
  <label class="amount" style= " border-top-style : solid; border-color: #ffffff; text-align: center; width: 100%; border-width: .5px ; padding-right: 10%; margin-top: 5%;">
    <div style= " float: left; font-size: 25px; font-style: bold; color: #ffffff">Donation Total: </div>
    <div style= "color: #ffffff; float: right; font-size: 25px; font-style: bold;"> $<%= number_with_precision(@donation.amount_dollars, precision: 2) %></div>
  </label>
</div>




  <div style="margin-top: 18px">
    <%= image_tag("/payment/stripe/powered_by_stripe.png", :alt => "rss feed", class: "cardstripe", style: "width: 20%; height: 20%") %>
    <%= image_tag("/payment/paymethod/dark/1.png", :alt => "rss feed", class: "card", style: "width: 7%; height: 7%" ) %>
    <%= image_tag("/payment/paymethod/dark/2.png", :alt => "rss feed", class: "card", style: "width: 7%; height: 7%") %>
    <%= image_tag("/payment/paymethod/dark/22.png", :alt => "rss feed", class: "card", style: "width: 7%; height: 7%") %>
    <%= image_tag("/payment/paymethod/dark/16.png", :alt => "rss feed", class: "card", style: "width: 7%; height: 7%") %>
    <%= image_tag("/payment/paymethod/dark/14.png", :alt => "rss feed", class: "card", style: "width: 7%; height: 7%") %>
    <%= image_tag("/payment/paymethod/dark/10.png", :alt => "rss feed", class: "card", style: "width: 7%; height: 7%") %>
  </div>
<br>
<% end %>
</div>

<div style= "padding-bottom: 20%;" >
  </div>
